@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    margin: 10px;
    padding: 0px;
}

html {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contenedor-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separador-nav a:link {
    color: #000000;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}
.separador-nav a, .separador-nav h1{
    color: #000000;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    text-decoration: none;
}
.separador-nav a:hover{
    background-color: #929292;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}
a:link {
    color: #000522;
}
a:visited {
    color: #2e1600
}

#titulo:hover {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0px;
    color: #ffffff;
}

#navegacion {
    position: relative;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

h2 {
    color: #ffffff;;
    font-size: 100px;
    font-weight: bold;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 40vh;
    width: 100vw;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("..//imagenes/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#contenido {
    width: 100%;
    margin: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separador-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5vh;
    margin: 2.5vh;
}
.separador-cont:nth-child(odd) {
    background-color: #ff9d1c;
}
.separador-cont:nth-child(even) {
    background-color: #ffffff;
}

.contenedor-texto {
    padding: 5vh;
}

b {
    font-weight: 500;
}

.contenedor-imagenes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.articulo {
    width: 55%;
    display: flex;
}
.articulo:nth-child(odd) {
    flex-direction: column;
}
.articulo:nth-child(even) {
    flex-direction: row;
}

h3 {
    font-weight: bold;
    margin: 0.5vh;
    margin-left: 0;
}

h4 {
    font-size: large;
    font-weight: bold;
    margin: 0.5vh;
    margin-left: 0;
}

#footer {
    background-color: #929292;
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5vh;
}

@media (min-width: 1200px) {
    #img1 {
        margin: 5vh;
        background-size: cover;
        background-position: center center;
        height: 40vh;
        width: 20vw;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.0)
        )
        ,url("..//imagenes/2.jpg");
    }

    #img2 {
        margin: 5vh;
        background-size: cover;
        background-position: center center;
        height: 40vh;
        width: 30vw;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.0)
        )
        ,url("..//imagenes/3.jpg");
    }

    #img3 {
        margin: 5vh;
        background-size: cover;
        background-position: center center;
        height: 30vh;
        width: 50vw;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.0)
        )
        ,url("..//imagenes/4.jpg");
    }

    #imgiti {
        margin: 5vh;
        background-size: cover;
        background-position: center center;
        height: 20vh;
        width: 25vw;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.0)
        )
        ,url("..//imagenes/imgiti.jpg");
    }

    #imgitem {
        margin: 5vh;
        background-size: cover;
        background-position: center center;
        height: 20vh;
        width: 25vw;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.0)
        )
        ,url("..//imagenes/imgitem.png");
    }

    #planiti {
        margin: 5vh;
        background-size: cover;
        background-position: center center;
        height: 110vh;
        width: 60vw;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.0)
        )
        ,url("..//imagenes/planiti.jpg");
    }

    #planitem {
        margin: 5vh;
        background-size: cover;
        background-position: center center;
        height: 110vh;
        width: 60vw;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.0)
        )
        ,url("..//imagenes/planitem.jpg");
    }
}